version: '3.9'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: olist
      POSTGRES_PASSWORD: olist
      POSTGRES_DB: olist_raw
    volumes:
      - ./db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres
